
	
				<div id="heading"><%= image_tag "ruby.png", alt: "Logo", class: "ruby-small" %>
				<h1 class="code-title-small white">Code Challenge</h1>
				
				</div>
<div id="fullpage">


<% @questions.each do |question| %>

	<div class="section" stule="background: #D83337;" data-anchor="question_<%= question.id %>">

		<div class="container">
			
			<h1 class="question"><%= question.question %></h1><br>
			<h6 class="font-code text-center code-question"><%= question.question_2 %></h6>
			<div class="answer text-center">
				<ul>
					<a href="#" class="push_button"><li><%= question.answer_1 %></li></a>
					<a href="#" class="push_button"><li><%= question.answer_2 %></li></a>
					<a href="#" class="push_button"><li><%= question.answer_3 %></li></a>
					<a href="#" class="push_button"><li><%= question.answer_4 %></li></a>
				</ul>
			</div>
		</div>
	</div>
<% end %>
</div>